force-app/main/default/flows/Tickets_Mark_Attended.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Attended</name>
        <label>Set Attended</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Ticket.Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ticket</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Attended</name>
        <label>Check if Attended</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_In_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Attended</defaultConnectorLabel>
        <rules>
            <name>Is_Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ticket.Attended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Attended_Screen</targetReference>
            </connector>
            <label>Is Attended</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tickets: Mark Attended {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tickets: Mark Attended</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Refresh_Badge_Components</name>
        <label>Refresh Badge Components</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>bdgs__Record_ID__c</field>
            <value>
                <elementReference>sourceRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>bdgs__Highlight_Badges_Refresh__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Ticket</name>
        <label>Get Ticket</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Attended</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ticket_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ticket</name>
        <label>Update Ticket</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Refresh_Badge_Components</targetReference>
        </connector>
        <inputReference>Get_Ticket</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Check_In_Screen</name>
        <label>Check In Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Attended</targetReference>
        </connector>
        <fields>
            <name>Check_In_Screen_Message</name>
            <fieldText>&lt;p&gt;Are you sure you would like to check in Ticket #{!Get_Ticket.Name}?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Check In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_Attended_Screen</name>
        <label>Is Attended Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Is_Attended_Screen_Message</name>
            <fieldText>&lt;p&gt;This ticket has already been marked as attended.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ticket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
